<h1 class="text-center mt-4 mb-4"> Listing All Articles </h1>
<h6 class="d-flex justify-content-center pl-2 myPagination">
	<%= will_paginate @users ,renderer: BootstrapPagination::Rails %>
</h6>

<%= render "article", obj:@articles %>

<h6 class="d-flex justify-content-center pl-2 myPagination">
	<%= will_paginate @users ,renderer: BootstrapPagination::Rails %>
</h6>
