<h1 align="center"> Welcome to <%= @user.username %>'s page</h1>
<div class="row">
	<div class="col-md-2 col-md-offset-2 rounded mx-auto d-bloc ">
		<%= gravatar_for @user, size: 150 %>
	</div>
</div>
<hr>

<h4 class="text-center"> <%= @user.username %>'s articles </h4>

<%= render "articles/article", obj:@user.articles %>