/*$navbar-default-bg: #08088A;*/


@import "bootstrap";

#logo{
	float: left;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.article-meta-details{
	border-top: 1px solid #eaeaea;
	/*margin-top: 15px;*/
}

.listing{
	list-style: none;
}