$navbar-default-bg: #08088A;


@import "bootstrap";

#logo{
	float: left;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.article-meta-details{
	border-top: 1px solid #eaeaea;
	/*margin-top: 15px;*/
}

.listing{
	list-style: none;
}

.myPagination ul li{
	padding-left: 10px;
}

/*.myPagination ul li::before{
	content: "|";
}*/

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}